[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/eeddey/Desktop/Capstone/dist/main/CamperSystem
Name=CamperSystem
Icon=/home/eeddey/Desktop/Capstone/icons/faucet.png
